.Button {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #355f2b;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: inline-block;
  color: rgb(255, 255, 255);
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;

  margin: 0 auto;
}

.Button:hover,
.Button:focus {
  background-color: #0c9191;
}
